.main_note {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px 50px 120px;
    background-color: #0099B8;
}

.backButton {
    font-size: 30px; 
    color: white;
    background-color: #0099B8;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 5px;
    width: 20%;
    height: 60px;
    position: relative;
    left: -136px;
    top: 22px;
}

.noteHeader {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    background-color: #0099B8;
    color: white;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

.noteContent {
    background-color: #A3EFFF;
    position: relative;
    width: 80%;
    padding: 30px;
    font-size: 20px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0099B8;
}



.deleteButton {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FF9438;
    height: 40px;
    width: 30%;
    align-self: left;
    text-align: center;
    margin-left: 30px; 
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #B35404;
}

.deleteButton:hover {
    background-color: #FF9438;
}



