.addNoteForm {
    display: block;
    margin-right: 0px;
    background-color: #A3EFFF;
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;
}

h2, label, input {
    display: block;
    line-height: 40px;
}

h2 {
    color: #0099B8;
    font-size: 28px;
}


.updateButto, .saveButton {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FF9438;
    align-self: left;
    text-align: center;
    margin-left: 30px; 
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #B35404;
}