.App {
    box-sizing: border-box;
}

header {
    font-size: 30px;
    display: block;
    text-align: center;
}

.homeLink {
    text-decoration: none;
    color: black;
}



.mainApp {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex-basis: 1;
    margin-right: 20px;
    margin-left: 20px;
    width: 25%;
}

.mainContent {
    flex-basis: 3;
    width: 50%
}